TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [103]:
string = 'pwskills'

reversed_string = string[::-1]

print(reversed_string)

sllikswp

2. Check if a string is a palindrome.

In [104]:
def is_palindrome(s):
    # Remove spaces and convert to lowercase for case-insensitive comparison
    s = s.replace(" ", "").lower()
    
    # Compare the original string with its reverse
    return s == s[::-1]

input_string = "madam"
if is_palindrome(input_string):
    print(f"{input_string} is a palindrome.")
else:
    print(f"{input_string} is not a palindrome.")

madam is a palindrome.

3. Convert a string to uppercase.

In [105]:
a = 'pwskills'

a.upper()

'PWSKILLS'

4. Convert a string to lowercase.

In [106]:
a = 'PWSKILLS'

a.lower()

'pwskills'

5. Count the number of vowels in a string.

In [107]:
#take user input
String = 'my name is siddharth'
count = 0
#to check for less conditions
#keep string in lowercase
String = String.lower()
for i in String:
    if i == 'a' or i == 'e' or i == 'i' or i == 'o' or i == 'u':
        #if True
        count+=1
#check if any vowel found
if count == 0:
    print('No vowels found')
else:
    print('Total vowels are :' + str(count))

Total vowels are :5

6. Count the number of consonants in a string.

In [108]:
# Count consonants in a string using Python
 
consonants=0

# Enter an input string 
user_input = 'my name is siddharth'
 
# convert string in case insensitive
string = user_input.lower()
 
for i in range(0,len(string)):  
    if string[i] not in ('a',"e","i","o","u"):  
        consonants = consonants + 1;  
 
print("The number of consonant:",consonants);

The number of consonant: 15

7. Remove all whitespaces from a string.

In [109]:
string = 'my name is siddharth'

removed_space = string.replace(' ', '')

print(removed_space)

mynameissiddharth

8. Find the length of a string without using the `len()` function.

In [110]:
def calculate_string_length(input_string):
    count = 0
    for char in input_string:
        count += 1
    return count

my_string = "Hello, World!"
length_without_len = calculate_string_length(my_string)

print("Length without using len():", length_without_len)

Length without using len(): 13

9. Check if a string contains a specific word.

In [111]:
def contains_word(input_string, word):
    return word in input_string

my_string = "This is a sample string."
my_word = "sample"
result = contains_word(my_string, my_word)

print(result)  # Output: True

True

10. Replace a word in a string with another word.

In [112]:
string = 'pwskills'

string.replace('p','a')

'awskills'

11. Count the occurrences of a word in a string.

In [113]:
string = 'pwskills'

string.count('l')

2

12. Find the first occurrence of a word in a string.

In [114]:
def find_first_occurrence(word, text):
    index = text.find(word)
    return index

# Example usage:
sentence = "This is an example sentence. This is the first occurrence."
word_to_find = "first"
result = find_first_occurrence(word_to_find, sentence)

if result != -1:
    print(f"The first occurrence of '{word_to_find}' starts at index {result}.")
else:
    print(f"'{word_to_find}' not found in the sentence.")

The first occurrence of 'first' starts at index 41.

13. Find the last occurrence of a word in a string.

In [115]:
def find_last_occurrence(input_string, target_word):
    last_occurrence_index = input_string.rfind(target_word)
    return last_occurrence_index

# Example usage:
my_string = "This is an example sentence. This sentence contains the word example."
target_word = "example"

last_occurrence_index = find_last_occurrence(my_string, target_word)

if last_occurrence_index != -1:
    print(f"The last occurrence of '{target_word}' is at index {last_occurrence_index}.")
else:
    print(f"The word '{target_word}' is not found in the string.")

The last occurrence of 'example' is at index 61.

14. Split a string into a list of words.

In [116]:
string = 'my name is siddharth'

split_word = string.split()

print(split_word)

['my', 'name', 'is', 'siddharth']

15. Join a list of words into a string.

In [117]:
word_list = ["Hello", "World", "Python"]
result_string = " ".join(word_list)
print(result_string)

Hello World Python

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [118]:
string = 'my name is siddharth'
string.replace(' ', '_')

'my_name_is_siddharth'

17. Check if a string starts with a specific word or phrase.

In [119]:
# Example string
my_string = "Hello, World!"

# Check if the string starts with a specific word or phrase
if my_string.startswith("Hello"):
    print("The string starts with 'Hello'")
else:
    print("The string does not start with 'Hello'")

The string starts with 'Hello'

18. Check if a string ends with a specific word or phrase.

In [120]:
# Example string
my_string = "Hello, World!"

# Check if the string ends with a specific word or phrase
if my_string.endswith("World!"):
    print("The string ends with 'World!'")
else:
    print("The string does not ends with 'World!'")

The string ends with 'World!'

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [121]:
string = "hello world"
string.title()

'Hello World'

20. Find the longest word in a string.

In [122]:
def find_longest_word(sentence):
    words = sentence.split()
    longest_word = max(words, key=len)
    return longest_word

# Example usage:
input_string = "This is a simple example sentence to find the longest word."
result = find_longest_word(input_string)
print("Longest word:", result)

Longest word: sentence

21. Find the shortest word in a string.

In [123]:
def find_shortest_word(input_string):
    words = input_string.split()
    shortest_word = min(words, key=len)
    return shortest_word

# Example usage:
input_string = "This is a sample string with some words."
result = find_shortest_word(input_string)
print("Shortest word:", result)

Shortest word: a

22. Reverse the order of words in a string.

In [124]:
string = 'siddharth'
string[::-1]

'htrahddis'

23. Check if a string is alphanumeric.

In [125]:
string = 'siddharth123'
string.isalnum()

True

24. Extract all digits from a string.

In [126]:
input_string = "abc123xyz456"

# Extract digits using list comprehension and isdigit()
digits = [int(char) for char in input_string if char.isdigit()]

# Print the result
print(digits)

[1, 2, 3, 4, 5, 6]

25. Extract all alphabets from a string.

In [127]:
input_string = "Hello123World"

alphabets_only = [char for char in input_string if char.isalpha()]

result = ''.join(alphabets_only)

print(result)

HelloWorld

26. Count the number of uppercase letters in a string.

In [128]:
def count_uppercase_letters(input_string):
    count = 0
    for char in input_string:
        if char.isupper():
            count += 1
    return count

# Example usage:
input_string = "Hello World"
result = count_uppercase_letters(input_string)
print(f'The number of uppercase letters in "{input_string}" is: {result}')

The number of uppercase letters in "Hello World" is: 2

27. Count the number of lowercase letters in a string.

In [129]:
input_string = "Hello World"
lowercase_count = sum(1 for char in input_string if char.islower())
print(lowercase_count)

8

28. Swap the case of each character in a string.

In [130]:
s = "Hello World"
s.swapcase()

'hELLO wORLD'

29. Remove a specific word from a string.

In [131]:
def remove_word(input_string, word_to_remove):
    return ' '.join(word for word in input_string.split() if word.lower() != word_to_remove.lower())

# Example usage:
original_string = "This is a sample sentence. Remove this."
word_to_remove = "this"
new_string = remove_word(original_string, word_to_remove)
print(new_string)

is a sample sentence. Remove this.

30. Check if a string is a valid email address.

In [132]:
import re

def is_valid_email(email):
    # Regular expression for a simple email validation
    email_pattern = r'^\S+@\S+\.\S+$'
    return bool(re.match(email_pattern, email))

# Example usage:
email_address = "user@example.com"
if is_valid_email(email_address):
    print(f"{email_address} is a valid email address.")
else:
    print(f"{email_address} is not a valid email address.")

user@example.com is a valid email address.

31. Extract the username from an email address string.

In [133]:
def extract_username(email):
    return email.split('@')[0]

# Example usage:
email_address = 'user@example.com'
username = extract_username(email_address)
print(username)

user

32. Extract the domain name from an email address string.

In [134]:
def extract_domain(email):
    return email.split('@')[1]

# Example usage:
email_address = 'user@example.com'
domain = extract_domain(email_address)
print(domain)

example.com

33. Replace multiple spaces in a string with a single space.

In [135]:
def replace_multiple_spaces(text):
    return ' '.join(text.split())

# Example usage:
text_with_multiple_spaces = 'This    is   a    text    with   spaces.'
cleaned_text = replace_multiple_spaces(text_with_multiple_spaces)
print(cleaned_text)

This is a text with spaces.

34. Check if a string is a valid URL.

In [136]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])
    except ValueError:
        return False

# Example usage:
url = 'https://www.example.com'
print(is_valid_url(url))

True

35. Extract the protocol (http or https) from a URL string.

In [137]:
from urllib.parse import urlparse

def extract_protocol(url):
    return urlparse(url).scheme

# Example usage:
url = 'https://www.example.com'
protocol = extract_protocol(url)
print(protocol)

https

36. Find the frequency of each character in a string.

In [138]:
from collections import Counter

def character_frequency(text):
    return Counter(text)

# Example usage:
input_string = 'abracadabra'
frequency = character_frequency(input_string)
print(frequency)

Counter({'a': 5, 'b': 2, 'r': 2, 'c': 1, 'd': 1})

37. Remove all punctuation from a string.

In [140]:
s = 'hellow world!'
s.replace('!', '')

'hellow world'

38. Check if a string contains only digits:

In [142]:
s = '1234'
s.isdigit()

True

39. Check if a string contains only alphabets:

In [151]:
s = 'siddharth'
s.isalpha()

True

40. Convert a string to a list of characters:

In [152]:
s = 'siddharth'
list(s)

['s', 'i', 'd', 'd', 'h', 'a', 'r', 't', 'h']

41. Check if two strings are anagrams:

In [155]:
def are_anagrams(str1, str2):
    return sorted(str1) == sorted(str2)

# Example usage:
string1 = "listen"
string2 = "silent"
result = are_anagrams(string1, string2)
print(result)

True

42. Encode a string using a Caesar cipher:

In [156]:
def caesar_cipher_encode(s, shift):
    result = ""
    for char in s:
        if char.isalpha():
            offset = ord('a') if char.islower() else ord('A')
            result += chr((ord(char) - offset + shift) % 26 + offset)
        else:
            result += char
    return result

# Example usage:
string_example = "Hello"
shift_amount = 3
result = caesar_cipher_encode(string_example, shift_amount)
print(result)

Khoor

43. Decode a Caesar cipher encoded string:

In [157]:
def caesar_cipher_decode(s, shift):
    return caesar_cipher_encode(s, -shift)

# Example usage:
encoded_string = "Khoor"
shift_amount = 3
result = caesar_cipher_decode(encoded_string, shift_amount)
print(result)

Hello

44. Find the most frequent word in a string:

In [158]:
from collections import Counter

def most_frequent_word(s):
    words = s.split()
    word_counts = Counter(words)
    most_common_word = word_counts.most_common(1)
    return most_common_word[0][0] if most_common_word else None

# Example usage:
string_example = "This is a sample string. This string contains some words."
result = most_frequent_word(string_example)
print(result)

This

45. Find all unique words in a string:

In [159]:
def unique_words(s):
    words = s.split()
    return list(set(words))

# Example usage:
string_example = "This is a sample string. This string contains some words."
result = unique_words(string_example)
print(result)

['words.', 'contains', 'sample', 'some', 'This', 'a', 'is', 'string.', 'string']

46. Count the number of syllables in a string:

In [160]:
def count_syllables(word):
    vowels = "aeiouy"
    count = 0

    if word[0] in vowels:
        count += 1

    for index in range(1, len(word)):
        if word[index] in vowels and word[index - 1] not in vowels:
            count += 1

    if word.endswith("e"):
        count -= 1

    if count == 0:
        count += 1

    return count

# Example:
word = "example"
syllable_count = count_syllables(word)
print(f"The word '{word}' has {syllable_count} syllables.")

The word 'example' has 2 syllables.

47. Check if a string contains any special characters:

In [161]:
import string

def contains_special_characters(input_string):
    special_characters = set(string.punctuation)
    return any(char in special_characters for char in input_string)

# Example:
input_str = "Hello, world!"
contains_special = contains_special_characters(input_str)
print(f"The string '{input_str}' contains special characters: {contains_special}")

The string 'Hello, world!' contains special characters: True

48. Remove the nth word from a string:

In [162]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    if 1 <= n <= len(words):
        del words[n - 1]
        return ' '.join(words)
    else:
        return "Invalid value for n."

# Example:
input_str = "This is a sample sentence."
n = 3
result = remove_nth_word(input_str, n)
print(f"After removing the {n}th word: {result}")

After removing the 3th word: This is sample sentence.

49. Insert a word at the nth position in a string:

In [163]:
def insert_word_at_nth_position(input_string, word, n):
    words = input_string.split()
    words.insert(n - 1, word)
    return ' '.join(words)

# Example:
input_str = "This is a sample sentence."
word_to_insert = "new"
position_to_insert = 3
result = insert_word_at_nth_position(input_str, word_to_insert, position_to_insert)
print(f"After inserting '{word_to_insert}' at position {position_to_insert}: {result}")

After inserting 'new' at position 3: This is new a sample sentence.

50. Convert a CSV string to a list of lists:

In [164]:
import csv
from io import StringIO

def csv_string_to_list_of_lists(csv_string):
    csv_reader = csv.reader(StringIO(csv_string))
    return [row for row in csv_reader]

# Example:
csv_string = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
csv_list = csv_string_to_list_of_lists(csv_string)
print("CSV as List of Lists:")
for row in csv_list:
    print(row)

CSV as List of Lists:
['1', 'John', 'Doe']
['2', 'Jane', 'Smith']
['3', 'Bob', 'Johnson']

-------------------------------------------------------------------------------------------------------------------

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [166]:
my_list = list(range(1, 11))
print(my_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the len() function:

In [167]:
my_list = [1, 2, 3, 4, 5]
length = 0

for _ in my_list:
    length += 1

print("Length of the list:", length)

Length of the list: 5

3. Append an element to the end of a list:

In [172]:
a = [1,2,3,4,5]
a.append(6)
print(a)

[1, 2, 3, 4, 5, 6]

4. Insert an element at a specific index in a list:

In [178]:
a = [1,2,3,4,5]
a.insert(2,6)
print(a)

[1, 2, 6, 3, 4, 5]

5. Remove an element from a list by its value:

In [1]:
a = [1,2,3,4,5]
a.remove(2)
print(a)

[1, 3, 4, 5]

6. Remove an element from a list by its index:

In [5]:
a = [1,2,3,4,5]
del a[1]
print(a)

[1, 3, 4, 5]

7. Check if an element exists in a list:

In [6]:
my_list = [1, 2, 3, 4, 5]
element_to_check = 3
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

3 exists in the list.

8. Find the index of the first occurrence of an element in a list:

In [18]:
my_list = [1, 2, 3, 4, 5]
element_to_find = 3
index = my_list.index(element_to_find)
print(f"The index of {element_to_find} is {index}")

The index of 3 is 2

9. Count the occurrences of an element in a list:

In [19]:
my_list = [1, 2, 3, 4, 3, 5, 3]
element_to_count = 3
count = my_list.count(element_to_count)
print(f"{element_to_count} occurs {count} times in the list.")

3 occurs 3 times in the list.

10. Reverse the order of elements in a list:

In [20]:
a = [1,2,3,4,5,6]
a[::-1]

[6, 5, 4, 3, 2, 1]

11. Sort a list in ascending order.

In [ ]:
my_list = [4, 2, 8, 1, 5]
sorted_list_ascending = sorted(my_list)
print(sorted_list_ascending)

[1, 2, 4, 5, 8]

12. Sort a list in descending order.

In [25]:
my_list = [4, 2, 8, 1, 5]
sorted_list_descending = sorted(my_list, reverse=True)
print(sorted_list_descending)

[8, 5, 4, 2, 1]

13. Create a list of even numbers from 1 to 20.

In [27]:
a = list(range(2,21,2))
print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [31]:
a = list(range(1,21,2))
print(a)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [34]:
a = [1,2,3,5]
b = sum(a)
print(b)

11

16. Find the maximum value in a list.

In [35]:
a = [1,2,3,5]
b = max(a)
print(b)

5

17. Find the minimum value in a list.

In [36]:
a = [1,2,3,5]
b = min(a)
print(b)

1

18. Create a list of squares of numbers from 1 to 10.

In [37]:
squares_list = [x**2 for x in range(1, 11)]
print("List of squares:", squares_list)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [42]:
import random

random_list = [random.randint(1, 100) for _ in range(10)]
print("Random numbers:", random_list)

Random numbers: [80, 34, 29, 39, 95, 24, 9, 18, 38, 69]

20. Remove duplicates from a list.

In [43]:
my_list = [3, 8, 1, 6, 2, 8, 4, 1, 6]
unique_list = list(set(my_list))
print("List without duplicates:", unique_list)

List without duplicates: [1, 2, 3, 4, 6, 8]

21. Find the common elements between two lists.

In [44]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = list(set(list1) & set(list2))
print("Common elements:", common_elements)

Common elements: [3, 4, 5]

22. Find the difference between two lists.

In [45]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
difference = list(set(list1) - set(list2))
print("Difference:", difference)

Difference: [1, 2]

23. Merge two lists:

In [46]:
a = [1,2,3,4]
b = [1,2,3,4]

print(a + b)

[1, 2, 3, 4, 1, 2, 3, 4]

24. Multiply all elements in a list by 2:

In [49]:
original_list = [1, 2, 3, 4, 5]
multiplied_list = [x * 2 for x in original_list]
print(multiplied_list)

[2, 4, 6, 8, 10]

25. Filter out all even numbers from a list:

In [50]:
original_list = [1, 2, 3, 4, 5, 6]
filtered_list = [x for x in original_list if x % 2 != 0]
print(filtered_list)

[1, 3, 5]

26. Convert a list of strings to a list of integers:

In [51]:
string_list = ["1", "2", "3", "4"]
int_list = [int(x) for x in string_list]
print(int_list)

[1, 2, 3, 4]

27. Convert a list of integers to a list of strings:

In [57]:
int_list = [1, 2, 3, 4]
string_list = [str(x) for x in int_list]
print(string_list)

['1', '2', '3', '4']

28. Flatten a nested list:

In [58]:
nested_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flat_list = [item for sublist in nested_list for item in sublist]
print(flat_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers:

In [59]:
def fibonacci(n):
    fib_list = [0, 1]
    while len(fib_list) < n:
        fib_list.append(fib_list[-1] + fib_list[-2])
    return fib_list

first_10_fibonacci = fibonacci(10)
print(first_10_fibonacci)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted:

In [60]:
def is_sorted(lst):
    return all(lst[i] <= lst[i+1] for i in range(len(lst)-1))

my_list = [1, 2, 3, 4, 5]
print(is_sorted(my_list))

True

31. Rotate a list to the left by n positions:

In [61]:
def rotate_left(lst, n):
    n = n % len(lst)
    rotated_list = lst[n:] + lst[:n]
    return rotated_list

my_list = [1, 2, 3, 4, 5]
result = rotate_left(my_list, 2)
print(result)

[3, 4, 5, 1, 2]

32. Rotate a list to the right by n positions:

In [62]:
def rotate_right(lst, n):
    n = n % len(lst)
    rotated_list = lst[-n:] + lst[:-n]
    return rotated_list

my_list = [1, 2, 3, 4, 5]
result = rotate_right(my_list, 2)
print(result)

[4, 5, 1, 2, 3]

33. Create a list of prime numbers up to 50.

In [63]:
def is_prime(num):
    if num < 2:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_up_to_50 = [num for num in range(2, 51) if is_prime(num)]
print(prime_numbers_up_to_50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size n.

In [64]:
def split_into_chunks(lst, n):
    return [lst[i:i+n] for i in range(0, len(lst), n)]

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
chunked_list = split_into_chunks(my_list, 3)
print(chunked_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [10]]

35. Find the second largest number in a list.

In [65]:
def second_largest(lst):
    unique_numbers = list(set(lst))
    unique_numbers.sort()
    return unique_numbers[-2]

my_list = [3, 1, 4, 1, 5, 9, 2, 6, 5]
result = second_largest(my_list)
print(result)

6

36. Replace every element in a list with its square.

In [66]:
original_list = [2, 4, 6, 8]
squared_list = [num**2 for num in original_list]
print(squared_list)

[4, 16, 36, 64]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [67]:
my_list = ['apple', 'banana', 'orange']
my_dict = {value: index for index, value in enumerate(my_list)}
print(my_dict)

{'apple': 0, 'banana': 1, 'orange': 2}

38. Shuffle the elements of a list randomly.

In [68]:
import random

my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)
print(my_list)

[5, 3, 4, 2, 1]

39. Create a list of the first 10 factorial numbers.

In [69]:
import math

factorial_numbers = [math.factorial(i) for i in range(10)]
print(factorial_numbers)

[1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [78]:
def have_common_element(list1, list2):
    return any(element in list2 for element in list1)

# Example usage:
list1 = [1, 2, 3, 4]
list2 = [3, 4, 5, 6]
result = have_common_element(list1, list2)
print(result)

True

41. Remove all elements from a list:

In [77]:
def remove_all_elements(my_list):
    my_list.clear()

# Example usage:
my_list = [1, 2, 3, 4]
remove_all_elements(my_list)
print(my_list)

[]

42. Replace negative numbers in a list with 0:

In [76]:
def replace_negatives_with_zero(my_list):
    my_list = [max(0, x) for x in my_list]
    return my_list

# Example usage:
my_list = [1, -2, 3, -4]
result = replace_negatives_with_zero(my_list)
print(result)

[1, 0, 3, 0]

43. Convert a string into a list of words:

In [75]:
def string_to_word_list(my_string):
    return my_string.split()

# Example usage:
my_string = "Hello World"
result = string_to_word_list(my_string)
print(result)

['Hello', 'World']

45. Create a list of the first n powers of 2.

In [79]:
def powers_of_two(n):
    return [2**i for i in range(n)]

# Example usage:
n = 5
result = powers_of_two(n)
print(result)

[1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [80]:
def longest_string(strings):
    return max(strings, key=len)

# Example usage:
string_list = ["apple", "banana", "kiwi", "strawberry"]
result = longest_string(string_list)
print(result)

strawberry

47. Find the shortest string in a list of strings.

In [81]:
def shortest_string(strings):
    return min(strings, key=len)

# Example usage:
string_list = ["apple", "banana", "kiwi", "strawberry"]
result = shortest_string(string_list)
print(result)

kiwi

48. Create a list of the first n triangular numbers.

In [82]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(n)]

# Example usage:
n = 5
result = triangular_numbers(n)
print(result)

[0, 1, 3, 6, 10]

49. Check if a list contains another list as a subsequence.

In [83]:
def is_subsequence(subseq, seq):
    iter_seq = iter(seq)
    return all(item in iter_seq for item in subseq)

# Example usage:
list1 = [1, 2, 3, 4, 5]
list2 = [2, 4]
result = is_subsequence(list2, list1)
print(result)

True

50. Swap two elements in a list by their indices.

In [84]:
def swap_elements(lst, idx1, idx2):
    lst[idx1], lst[idx2] = lst[idx2], lst[idx1]

# Example usage:
my_list = [10, 20, 30, 40, 50]
swap_elements(my_list, 1, 3)
print(my_list)

[10, 40, 30, 20, 50]

-------------------------------------------------------------------------------------------------------------

Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [7]:
a = (1,2,3,4,5)
print(a)

(1, 2, 3, 4, 5)

2. Access the third element of a tuple.

In [10]:
a[2]

3

3. Find the length of a tuple without using the `len()` function.

In [13]:
tuple_example = (1, 2, 3, 4, 5)

# Initialize a counter variable
length = 0

# Iterate through the tuple elements
for _ in tuple_example:
    length += 1

# Print the length
print("Length of the tuple:", length)

Length of the tuple: 5

4. Count the occurrences of an element in a tuple.

In [15]:
a = (1, 2, 3, 4, 2, 2, 5, 6, 2)
a.count(2)

4

5. Find the index of the first occurrence of an element in a tuple.

In [17]:
a = (1, 2, 3, 4, 2, 2, 5, 6, 2)
a.index(2)

1

6. Check if an element exists in a tuple.

In [20]:
a = (1, 2, 3, 4, 2, 2, 5, 6, 2)

if 5 in a:
    print('exist in tuple')
else:
    print('does not exist in tuple')

exist in tuple

7. Convert a tuple to a list.

In [23]:
a = (1, 2, 3, 4, 2, 2, 5, 6, 2)
list(a)

[1, 2, 3, 4, 2, 2, 5, 6, 2]

8. Convert a list to a tuple.

In [24]:
tuple(a)

(1, 2, 3, 4, 2, 2, 5, 6, 2)

9. Unpack the elements of a tuple into variables.

In [39]:
my_tuple = (1, 2, 3)

var1, var2, var3 = my_tuple

print(var1)
print(var2)
print(var3)

1
2
3

10. Create a tuple of even numbers from 1 to 10.

In [35]:
even_numbers = tuple(num for num in range(2, 11, 2))
print(even_numbers)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [41]:
odd_number = tuple(num for num in range(1,11,2))
print(odd_number)

(1, 3, 5, 7, 9)

In [52]:
a = (1, 2, 3)
b = ('a', 'b', 'c')
c = a + b
print(c)

(1, 2, 3, 'a', 'b', 'c')

13. Repeat a tuple three times.

In [53]:
a = (1, 2, 3)
b = a*3
print(b)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [56]:
empty_tuple = ()
if not empty_tuple:
    print("Tuple is empty")

Tuple is empty

15. Create a nested tuple.

In [57]:
nested_tuple = (1, 2, (3, 4), 5)
print("Nested Tuple:", nested_tuple)

Nested Tuple: (1, 2, (3, 4), 5)

16. Access the first element of a nested tuple.

In [59]:
a = (1, 2, (3, 4), 5)
a[0]
print("First element of nested tuple:", first_element)

First element of nested tuple: 1

17. Create a tuple with a single element.

In [60]:
a = (40,)
print(a)

(40,)

18. Compare two tuples.

In [61]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)

if tuple1 == tuple2:
    print('tuple is same')
else:
    print('tuple is not same')

tuple is same

 19. Delete a tuple.

In [65]:
tuple1 = (1, 2, 3)
del tuple1

20. Slice a tuple.

In [66]:
original_tuple = (1, 2, 3, 4, 5)
sliced_tuple = original_tuple[1:4]
print("Sliced Tuple:", sliced_tuple)

Sliced Tuple: (2, 3, 4)

21: Find the maximum value in a tuple.

In [1]:
a = (3, 8, 2, 10, 5)
max_value = max(a)
print("Maximum value in the tuple:", max_value)

Maximum value in the tuple: 10

22: Find the minimum value in a tuple.

In [2]:
a = (1,3,2,4,5,6)

min_value = min(a)
print('min value in tuple is', min_value)

min value in tuple is 1

23: Convert a string to a tuple of characters.

In [3]:
a = 'hello'
b = tuple(a)
print(b)

('h', 'e', 'l', 'l', 'o')

24: Convert a tuple of characters to a string.

In [6]:
char = ('h', 'e', 'l', 'l', 'o')
string = ''.join(char)
print(string)

hello

25: Create a tuple from multiple data types.

In [7]:
mixed_tuple = (1, "hello", 3.14, True)
print("Tuple with multiple data types:", mixed_tuple)

Tuple with multiple data types: (1, 'hello', 3.14, True)

26: Check if two tuples are identical.

In [8]:
tuple1 = (1,2,3)
tuple2 = (1,2,3)

if tuple1 == tuple2:
    print('tuples are identical')
else:
    print('tuples are not identical')

tuples are identical

27. Sort the elements of a tuple.

In [9]:
a = (2,5,9,4,6,1)
b = sorted(a)
print(b)

[1, 2, 4, 5, 6, 9]

28. Convert a tuple of integers to a tuple of strings.

In [12]:
int_tuple = (1, 2, 3, 4, 5)
str_tuple = tuple(str(i) for i in int_tuple)
print(str_tuple)

('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [17]:
str_tuple = ('1', '2', '3', '4', '5')
int_tuple = tuple(int(i) for i in int_tuple)
print(int_tuple)

(1, 2, 3, 4, 5)

30. Merge two tuples.

In [18]:
a = (1,2,3)
b = (1,2,3)
merged_tuple = a + b
print(merged_tuple)

(1, 2, 3, 1, 2, 3)

31. Flatten a nested tuple.

In [19]:
nested_tuple = ((1, 2, 3), (4, 5, 6), (7, 8, 9))
flattened_tuple = tuple(item for subtuple in nested_tuple for item in subtuple)
print(flattened_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

32. Create a tuple of the first 5 prime numbers.

In [20]:
prime_number = (2, 3, 5, 7, 11)
print(prime_number)

(2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome:

In [ ]:
tuple_to_check = (1, 2, 3, 2, 1)
is_palindrome = tuple_to_check == tuple_to_check[::-1]
print(f"Is the tuple a palindrome? {is_palindrome}")

Is the tuple a palindrome? True

34. Create a tuple of squares of numbers from 1 to 5:

In [24]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))
print(squares_tuple)

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple:

In [28]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

for i in a:
    if i%2 != 0:
        print(i, end = ' ')

1 3 5 7 9

36. Multiply all elements in a tuple by 2:

In [29]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
b = tuple(i*2 for i in a)
print(b)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

37. Create a tuple of random numbers.

In [39]:
import random
random_tuple = tuple(random.randint(1, 100) for _ in range(5))
print("Random Tuple:", random_tuple)

Random Tuple: (40, 56, 4, 59, 62)

38. Check if a tuple is sorted.

In [38]:
is_sorted = all(random_tuple[i] <= random_tuple[i + 1] for i in range(len(random_tuple) - 1))
print("Is Sorted:", is_sorted)

Is Sorted: False

39. Rotate a tuple to the left by `n` positions.

In [37]:
n = 2
left_rotated_tuple = random_tuple[n:] + random_tuple[:n]
print("Left Rotated Tuple:", left_rotated_tuple)

Left Rotated Tuple: (47, 22, 97, 91, 38)

40. Rotate a tuple to the right by `n` positions.

In [36]:
right_rotated_tuple = random_tuple[-n:] + random_tuple[:-n]
print("Right Rotated Tuple:", right_rotated_tuple)

Right Rotated Tuple: (22, 97, 91, 38, 47)

41. Create a tuple of the first 5 Fibonacci numbers.

In [40]:
fibonacci_tuple = (0, 1, 1, 2, 3)
print("Fibonacci Tuple:", fibonacci_tuple)

Fibonacci Tuple: (0, 1, 1, 2, 3)

In [45]:
user_input_tuple = tuple(map(int, input("Enter elements separated by spaces: ").split()))
print("User Input Tuple:", user_input_tuple)

Enter elements separated by spaces:  1 2 3 4 5 6

User Input Tuple: (1, 2, 3, 4, 5, 6)

43. Swap two elements in a tuple.

In [47]:
index1, index2 = 1, 3
swapped_tuple = list(user_input_tuple)
swapped_tuple[index1], swapped_tuple[index2] = swapped_tuple[index2], swapped_tuple[index1]
swapped_tuple = tuple(swapped_tuple)
print("Swapped Tuple:", swapped_tuple)

Swapped Tuple: (1, 4, 3, 2, 5, 6)

44. Reverse the elements of a tuple:

In [48]:
a = (1,2,3,4,5,6)
b = a[::-1]
print(b)

(6, 5, 4, 3, 2, 1)

45. Create a tuple of the first n powers of 2:

In [49]:
n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print(powers_of_2_tuple)

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings:

In [50]:
string_tuple = ("apple", "banana", "kiwi", "strawberry")
longest_string = max(string_tuple, key=len)
print(longest_string)

strawberry

47. Find the shortest string in a tuple of strings:

In [51]:
string_tuple = ("apple", "banana", "kiwi", "strawberry")
shortest_string = min(string_tuple, key=len)
print(shortest_string)

kiwi

48. Create a tuple of the first n triangular numbers:

In [52]:
n = 5
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(n))
print(triangular_numbers_tuple)

(0, 1, 3, 6, 10)

49. Check if a tuple contains another tuple as a subsequence:

In [53]:
main_tuple = (1, 2, (3, 4), 5, 6)
sub_tuple = (3, 4)
contains_subsequence = sub_tuple in main_tuple
print(contains_subsequence)

True

50. Create a tuple of alternating 1s and 0s of length n:

In [54]:
n = 6
alternating_tuple = tuple((i % 2) for i in range(n))
print(alternating_tuple)

(0, 1, 0, 1, 0, 1)

Set Based Practice Problem :

1. Create a set with integers from 1 to 5.

In [55]:
a = {1,2,3,4,5}
print(a)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [57]:
a.add(6)
print(a)

{1, 2, 3, 4, 5, 6}

 3. Remove an element from a set.

In [58]:
a.remove(2)
print(a)

{1, 3, 4, 5, 6}

4. Check if an element exists in a set.

In [60]:
a = {1,2,3,4,5}
b = 2
if b in a:
    print('yes it is present')
else:
    print('no it does not')

yes it is present

5. Find the length of a set without using the `len()` function.

In [ ]:
a = {1,2,3,4,5}

length = 0

# Iterate through the tuple elements
for _ in a:
    length += 1

# Print the length
print("Length of the set:", length)

Length of the set: 5

6. Clear all elements from a set.

In [64]:
a = {1,2,3,4,5}
a.clear()
print(a)

set()

7. Create a set of even numbers from 1 to 10.

In [70]:
a = set(range(2,12,2))
print(a)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [69]:
a = set(range(1,11,2))
print(a)

{1, 3, 5, 7, 9}

9. Find the union of two sets

In [71]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1 | set2
print("Union:", union_set)

Union: {1, 2, 3, 4, 5}

10. Find the intersection of two sets

In [72]:
intersection_set = set1 & set2
print("Intersection:", intersection_set)

Intersection: {3}

11. Find the difference between two sets

In [73]:
difference_set = set1 - set2
print("Difference:", difference_set)

Difference: {1, 2}

12. Check if a set is a subset of another set

In [74]:
is_subset = set1 <= set2
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: False

13. Check if a set is a superset of another set

In [75]:
is_superset = set1 >= set2
print("Is set1 a superset of set2:", is_superset)

Is set1 a superset of set2: False

14. Create a set from a list

In [78]:
a = set([1,2,3,4,5,6])
print(a)

{1, 2, 3, 4, 5, 6}

 15. Convert a set to a list

In [79]:
b = list(a)
print(b)

[1, 2, 3, 4, 5, 6]

16. Remove a random element from a set.

In [3]:
a = {1,2,3,4,5,6}
a.remove(5)
print(a)

{1, 2, 3, 4, 6}

17. Pop an element from a set.

In [4]:
a = {1,2,3,4,5,6}
a.pop()
print(a)

{2, 3, 4, 5, 6}

18. Check if two sets have no elements in common.

In [8]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}

if set1 == set2:
    print('sets have common element')
else:
    print('sets have no common element')

sets have no common element

19. Find the symmetric difference between two sets.

In [9]:
set3 = {1, 2, 3, 4}
set4 = {3, 4, 5, 6}
symmetric_difference = set3.symmetric_difference(set4)
print(symmetric_difference)

{1, 2, 5, 6}

20. Update a set with elements from another set.

In [13]:
set1 = {1, 2, 3, 4}
set2 = {9,8,5,6}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 8, 9}

21. Create a set of the first 5 prime numbers.

In [15]:
p_no = {2,3,5,7,11}
print(p_no)

{2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [16]:
set7 = {1, 2, 3}
set8 = {3, 2, 1}

identical = set7 == set8
print(identical)

True

23. Create a frozen set.

In [17]:
frozen_set = frozenset({1, 2, 3, 4})
print(frozen_set)

frozenset({1, 2, 3, 4})

24: Check if a set is disjoint with another set.

In [21]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_disjoint = set1.isdisjoint(set2)
print(is_disjoint)

True

25: Create a set of squares of numbers from 1 to 5.

In [22]:
squares_set = {x**2 for x in range(1, 6)}
print(squares_set)

{1, 4, 9, 16, 25}

26: Filter out all even numbers from a set.

In [27]:
original_set = {1, 2, 3, 4, 5}
for i in original_set:
    if i%2 != 0:
        print(i)

1
3
5

27: Multiply all elements in a set by 2.

In [29]:
original_set = {1, 2, 3, 4, 5}

for i in original_set:
    print(i * 2, end = ' ')

2 4 6 8 10

28: Create a set of random numbers.

In [31]:
import random
random_set = {random.randint(1, 10) for _ in range(5)}
print( random_set)

{1, 3, 6, 7, 8}

29: Check if a set is empty.

In [32]:
empty_set = set()
is_empty = not bool(empty_set)
print("Task 29:", is_empty)

Task 29: True

30: Create a nested set (hint: use frozenset).

In [33]:
nested_set = {frozenset({1, 2}), frozenset({3, 4})}
print("Task 30:", nested_set)

Task 30: {frozenset({3, 4}), frozenset({1, 2})}

31: Remove an element from a set using the discard method.

In [34]:
a = {1, 2, 3, 4, 5}
a.discard(3)
print(a)

{1, 2, 4, 5}

32. Compare two sets.

In [35]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

if set1 == set2:
    print('sets are equal')
else:
    print('sets are not equal')

sets are not equal

33. Create a set from a string.

In [38]:
a = 'hello'
b = set(a)
print(b)

{'e', 'o', 'h', 'l'}

34. Convert a set of strings to a set of integers.

In [42]:
set_of_strings = {"1", "2", "3", "4"}
set_of_integers = {int(item) for item in set_of_strings}
print("Set of integers:", set_of_integers)

Set of integers: {1, 2, 3, 4}

35. Convert a set of integers to a set of strings.

In [46]:
set_of_integers = {1,2,3,4}
set_of_strings = {str(item) for item in set_of_integers}
print("Set of strings:", set_of_strings)

Set of strings: {'3', '4', '1', '2'}

36. Create a set from a tuple.

In [47]:
tuple1 = (1,2,3,4,5,6)
set1 = set(tuple1)
print(set1)

{1, 2, 3, 4, 5, 6}

37. Convert a set to a tuple.

In [48]:
set1 = {1,2,3,4,5,6}
tuple1 = tuple(tuple1)
print(tuple1)

(1, 2, 3, 4, 5, 6)

38. Find the maximum value in a set.

In [50]:
set_of_values = {5, 8, 2, 10, 3}
max(set_of_values)

10

39. Find the minimum value in a set.

In [51]:
set_of_values = {5, 8, 2, 10, 3}
min(set_of_values)

2

40. Create a set from user input.

In [4]:
user_input = input("Enter elements separated by spaces: ")
user_set = set(user_input.split())
print(user_set)

Enter elements separated by spaces:  1 2 3 4 5

{'3', '5', '4', '1', '2'}

41: Check if the intersection of two sets is empty

In [5]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_empty = not bool(set1 & set2)
print(intersection_empty)

False

42: Create a set of the first 5 Fibonacci numbers

In [6]:
fibonacci_set = {0, 1, 1, 2, 3}
print(fibonacci_set)

{0, 1, 2, 3}

43: Remove duplicates from a list using sets

In [7]:
original_list = [1, 2, 2, 3, 4, 4, 5]
list_without_duplicates = list(set(original_list))
print(list_without_duplicates)

[1, 2, 3, 4, 5]

44: Check if two sets have the same elements, regardless of their count

In [9]:
set_a = {1, 2, 3, 4}
set_b = {4, 3, 2, 1}
sets_have_same_elements = set_a == set_b
print(sets_have_same_elements)

True

45: Create a set of the first `n` powers of 2

In [10]:
n = 5
powers_of_2_set = {2**i for i in range(n)}
print(powers_of_2_set)

{1, 2, 4, 8, 16}

46: Find the common elements between a set and a list

In [12]:
set_c = {1, 2, 3}
list_c = [3, 4, 5]
common_elements = set_c & set(list_c)
print(common_elements)

{3}

47: Create a set of the first `n` triangular numbers

In [13]:
n_triangular = 5
triangular_numbers_set = {i * (i + 1) // 2 for i in range(1, n_triangular + 1)}
print(triangular_numbers_set)

{1, 3, 6, 10, 15}